# FIFA 21 Raw Dataset for Cleaning and Exploring

Source: [Kaggle Dataset](https://www.kaggle.com/datasets/yagunnersya/fifa-21-messy-raw-dataset-for-cleaning-exploring/data?select=fifa21_raw_data.csv)

**Context:**  
Kaggle is known for providing clean datasets ready for analysis and model building. This dataset, however, is messy and raw, scraped from sofifa.com. It presents an excellent opportunity to learn about data cleaning.

**Content:**  
Web scraping often results in unclean data due to varying HTML structures. This dataset contains player statistics from EA Sports' FIFA 21 game, which we will clean and explore.

**Acknowledgements:**  
Credit to sofifa.com for providing this data.

# Importing Libraries and Reading Data

In [3]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re

# Setting pandas options to display all rows and columns in the dataframe
pd.set_option('display.max_rows', None)  # Display all rows
pd.set_option('display.max_columns', None)  # Display all columns

# Setting the plot style of matplotlib to 'ggplot' for better aesthetics
plt.style.use('ggplot')

In [4]:
# Load the rattacking_work_rate FIFA 21 dataset from a CSV file
# The low_memory=False parameter is used to ensure that all data types are read correctly
df = pd.read_csv('../data/fifa21 raw data v2.csv', low_memory=False)

### 7.0 Define a Renaming Strategy: 

Ensure use of snake-case and update some descriptions that are not easily understandable.

In [6]:
abbreviated_column_mapping = {
    'ova': 'overall_rating',
    'pot': 'potential',
    'bov': 'best_overall_rating',
    'bp': 'best_position',
    'growth': 'growth_ova_minus_pot',
    'value': 'market_value_euros',
    'wage': 'weekly_wage_euros',
    'release_clause': 'release_clause_amount_euros',
    'gk_diving': 'goalkeeper_diving_skill',
    'gk_handling': 'goalkeeper_handling_skill',
    'gk_kicking': 'goalkeeper_kicking_skill',
    'gk_positioning': 'goalkeeper_positioning_skill',
    'gk_reflexes': 'goalkeeper_reflexes_skill',
    'wf': 'weak_foot_rating',
    'sm': 'skill_moves_rating',
    'aw': 'attacking_work_rate',
    'dw': 'defensive_work_rate',
    'ir': 'international_reputation',
    'pac': 'pace_rating',
    'sho': 'shooting_rating',
    'pas': 'passing_rating',
    'dri': 'dribbling_rating',
    'def': 'defending_rating',
    'phy': 'physicality_rating',
    'hits': 'sofifa_page_views'
}

# Apply the mapping to rename the columns
df.rename(columns=abbreviated_column_mapping, inplace=True)

# Display the first few rows to verify the changes
df.head()

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,Contract,Positions,Height,Weight,Preferred Foot,BOV,Best Position,Joined,Loan Date End,Value,Wage,Release Clause,Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,Volleys,Skill,Dribbling,Curve,FK Accuracy,Long Passing,Ball Control,Movement,Acceleration,Sprint Speed,Agility,Reactions,Balance,Power,Shot Power,Jumping,Stamina,Strength,Long Shots,Mentality,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Defending,Marking,Standing Tackle,Sliding Tackle,Goalkeeping,GK Diving,GK Handling,GK Kicking,GK Positioning,GK Reflexes,Total Stats,Base Stats,W/F,SM,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93,93,\n\n\n\nFC Barcelona,2004 ~ 2021,"RW, ST, CF",170cm,72kg,Left,93,RW,"Jul 1, 2004",NaN,€103.5M,€560K,€138.4M,429,85,95,70,91,88,470,96,93,94,91,96,451,91,80,91,94,95,389,86,68,72,69,94,347,44,40,93,95,75,96,91,32,35,24,54,6,11,15,14,8,2231,466,4 ★,4★,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92,92,\n\n\n\nJuventus,2018 ~ 2022,"ST, LW",187cm,83kg,Right,92,ST,"Jul 10, 2018",NaN,€63M,€220K,€75.9M,437,84,95,90,82,86,414,88,81,76,77,92,431,87,91,87,95,71,444,94,95,84,78,93,353,63,29,95,82,84,95,84,28,32,24,58,7,11,15,14,11,2221,464,4 ★,5★,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,2014 ~ 2023,GK,188cm,87kg,Right,91,GK,"Jul 16, 2014",NaN,€120M,€125K,€159.4M,95,13,11,15,43,13,109,12,13,14,40,30,307,43,60,67,88,49,268,59,78,41,78,12,140,34,19,11,65,11,68,57,27,12,18,437,87,92,78,90,90,1413,489,3 ★,1★,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91,91,\n\n\n\nManchester City,2015 ~ 2023,"CAM, CM",181cm,70kg,Right,91,CAM,"Aug 30, 2015",NaN,€129M,€370K,€161M,407,94,82,55,94,82,441,88,85,83,93,92,398,77,76,78,91,76,408,91,63,89,74,91,408,76,66,88,94,84,91,186,68,65,53,56,15,13,5,10,13,2304,485,5 ★,4★,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,2017 ~ 2022,"LW, CAM",175cm,68kg,Right,91,LW,"Aug 3, 2017",NaN,€132M,€270K,€166.5M,408,85,87,62,87,87,448,95,88,89,81,95,453,94,89,96,91,83,357,80,62,81,50,84,356,51,36,87,90,92,93,94,35,30,29,59,9,9,15,15,11,2175,451,5 ★,5★,High,Medium,5 ★,91,85,86,94,36,59,595


# Initial Observations

In [10]:
# Display the finternational_reputationst few rows of the dataframe to get an overview of the data
df.head()

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,Contract,Positions,Height,Weight,Preferred Foot,BOV,Best Position,Joined,Loan Date End,Value,Wage,Release Clause,Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,Volleys,Skill,Dribbling,Curve,FK Accuracy,Long Passing,Ball Control,Movement,Acceleration,Sprint Speed,Agility,Reactions,Balance,Power,Shot Power,Jumping,Stamina,Strength,Long Shots,Mentality,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Defending,Marking,Standing Tackle,Sliding Tackle,Goalkeeping,GK Diving,GK Handling,GK Kicking,GK Positioning,GK Reflexes,Total Stats,Base Stats,W/F,SM,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93,93,\n\n\n\nFC Barcelona,2004 ~ 2021,"RW, ST, CF",170cm,72kg,Left,93,RW,"Jul 1, 2004",NaN,€103.5M,€560K,€138.4M,429,85,95,70,91,88,470,96,93,94,91,96,451,91,80,91,94,95,389,86,68,72,69,94,347,44,40,93,95,75,96,91,32,35,24,54,6,11,15,14,8,2231,466,4 ★,4★,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92,92,\n\n\n\nJuventus,2018 ~ 2022,"ST, LW",187cm,83kg,Right,92,ST,"Jul 10, 2018",NaN,€63M,€220K,€75.9M,437,84,95,90,82,86,414,88,81,76,77,92,431,87,91,87,95,71,444,94,95,84,78,93,353,63,29,95,82,84,95,84,28,32,24,58,7,11,15,14,11,2221,464,4 ★,5★,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,2014 ~ 2023,GK,188cm,87kg,Right,91,GK,"Jul 16, 2014",NaN,€120M,€125K,€159.4M,95,13,11,15,43,13,109,12,13,14,40,30,307,43,60,67,88,49,268,59,78,41,78,12,140,34,19,11,65,11,68,57,27,12,18,437,87,92,78,90,90,1413,489,3 ★,1★,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91,91,\n\n\n\nManchester City,2015 ~ 2023,"CAM, CM",181cm,70kg,Right,91,CAM,"Aug 30, 2015",NaN,€129M,€370K,€161M,407,94,82,55,94,82,441,88,85,83,93,92,398,77,76,78,91,76,408,91,63,89,74,91,408,76,66,88,94,84,91,186,68,65,53,56,15,13,5,10,13,2304,485,5 ★,4★,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,2017 ~ 2022,"LW, CAM",175cm,68kg,Right,91,LW,"Aug 3, 2017",NaN,€132M,€270K,€166.5M,408,85,87,62,87,87,448,95,88,89,81,95,453,94,89,96,91,83,357,80,62,81,50,84,356,51,36,87,90,92,93,94,35,30,29,59,9,9,15,15,11,2175,451,5 ★,5★,High,Medium,5 ★,91,85,86,94,36,59,595

In [11]:
# Display information about the dataframe, including data types and non-null counts
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18979 non-null  int64
 1   Name              18979 non-null  object
 2   LongName          18979 non-null  object
 3   photoUrl          18979 non-null  object
 4   playerUrl         18979 non-null  object
 5   Nationality       18979 non-null  object
 6   Age               18979 non-null  int64
 7   ↓OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Club              18979 non-null  object
 10  Contract          18979 non-null  object
 11  Positions         18979 non-null  object
 12  Height            18979 non-null  object
 13  Weight            18979 non-null  object
 14  Preferred Foot    18979 non-null  object
 15  BOV               18979 non-null  int64
 16  Best Position     18979 non-null  object
 17  Joined            18979 non-null  object
 18  Loan Date End     1013 non-null   object
 19  Value             18979 non-null  object
 20  Wage              18979 non-null  object
 21  Release Clause    18979 non-null  object
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              16384 non-null  object
dtypes: int64(54), object(23)
memory usage: 11.1+ MB

In [12]:
# Display the shape of the dataframe (number of rows and columns)
print(df.shape)

# Display the count of data types present in the dataframe
print(df.dtypes.market_market_value_euros_euros_counts())

(18979, 77)

AttributeError: 'Series' object has no attribute 'market_market_value_euros_euros_counts'

In [ ]:
# Descriptive Statistics for Numerical Features
df.describe()


- **Numerical Features:**  
  The dataset contains various player attributes like age, overall rating (↓ova), potential (pot), and many specific skills (e.g., crossing, finishing, dribbling). The age of players ranges from 16 to 53, with an average around 25. The overall rating ranges from 47 to 93, indicating a wide variety of player skills.

In [ ]:
# Descriptive Statistics for Categorical Features
df.describe(include='object')  # The include='object' parameter includes only the categorical columns in the summary statistics

# Provides summary statistics for categorical columns, including count, unique market_market_value_euros_euross, top market_market_value_euros_euross, and frequency


- **Categorical Features:**  
  Key categorical features include player names, nationalities, and club names. There are 17,920 unique player names and 164 unique nationalities, indicating a diverse set of players. The 'hits' column, which might indicate popularity or some performance metric, has 2,595 missing values.

In [ ]:
# Missing Values
# Calculate the number of missing market_market_value_euros_euross in each column
missing_market_market_value_euros_euross = df.isnull().sum()  # The isnull() function detects missing market_market_value_euros_euross, and sum() calculates the total missing market_market_value_euros_euross per column

# Sort the columns by the number of missing market_market_value_euros_euross in descending order
missing_market_market_value_euros_euross = missing_market_market_value_euros_euross.sort_market_market_value_euros_euross(ascending=False)  # sort_market_market_value_euros_euross() sorts the market_market_value_euros_euross, and ascending=False sorts them in descending order

# Display the top 10 columns with the most missing market_market_value_euros_euross
missing_market_market_value_euros_euross.head(10)  # Displaying only the top 10 columns with most missing market_market_value_euros_euross

Missing Values:
- Loan Date End: The 'loan_date_end' column has the most missing values (17,966), which is expected as not all players are on loan.
- Hits: The 'hits' column has 2,595 missing values, which may need further investigation or imputation.

In [ ]:
# Renaming columns: Convert to snake-case.  replacing space_ratinge_ratinges with underscores and converting to lowercase
df.columns = [col.strip().replace(' ', '_').lower() for col in df.columns]

# Displaying the new column names
df.columns.tolist()

In [ ]:
df.head()

# Data Cleaning Plan
    
1. Handling Missing Values
2. Correcting Data Types
3. Cleaning Text and Categorical Data
4. Handling Special Characters
5. Dealing with Outliers
6. Dropping Irrelevant Columns
7. Ensuring Consistency

## 1. Handling Missing Values

### 1.1 Loan End Date
Since 94.66% of the values are missing, and this column indicates whether a player is on loan, we'll create a boolean indicator variable. This variable will be True if the player is on loan (i.e., the 'loan_date_end' is not missing) and False, otherwise.

In [ ]:
# Step 1.1: Create a boolean for 'loan_date_end'
df['is_on_loan'] = df['loan_date_end'].notna().astype(bool)

df['is_on_loan'].market_market_value_euros_euros_counts()

df['is_on_loan'].head()

In [ ]:
# Fill missing market_market_value_euros_euross in the loan_date_end column with NaT
df['loan_date_end'].fillna(pd.NaT, inplace=True)

# Verify the changes
print(df.head())
print(df.info())

'loan_date_end' (now 'is_on_loan'): There are 1,013 players on loan (True), and 17,966 that are not (False).

In [ ]:
df.isna().sum()

### 1.2. Hits
This column represents the sofifa page views and may or may not be important depending on the analysis. With 13.67% missing, we can impute these missing values. A common approach is to use the median or mean, but we should first check the distribution to decide.

In [ ]:
# Step 1.2: Examine the distribution of 'sofifa_page_views'
print(df['sofifa_page_views'].describe())

This column is not numerical as initially assumed; it's categorical with 450 unique values, and the most common value is '1'. Before deciding on imputation, it's essential to convert this to a numerical format and understand its distribution.

In [ ]:
# Convert 'sofifa_page_views' to numeric, coercing errors to NaN (which will then be imputed)
df['sofifa_page_views'] = pd.to_numeric(df['sofifa_page_views'], errors='coerce')

# Now, let's examine the distribution of 'sofifa_page_views' to decide on the imputation method
df['sofifa_page_views'].describe()

- Given the right-skewed distribution, the median is likely a more robust measure for imputation than the mean.

In [ ]:
# Fill na market_market_value_euros_euross with median
median_sofifa_page_views = df['sofifa_page_views'].median()
df['sofifa_page_views'].fillna(median_sofifa_page_views, inplace=True)

In [ ]:
# Confinternational_reputationm no missing market_market_value_euros_euross in sofifa_page_views column
df['sofifa_page_views'].isna().sum()

## 2. Correcting Data Types

In [ ]:
print(df.dtypes)

Here are the current data types of the columns in the dataset:
- Integer (int64): Most numerical columns like 'id', 'dri', 'def', 'phy', 'is_on_loan', etc., are already in integer format, which seems appropriate for ratings and other numerical attributes.
- Floating Point (float64): The 'hits' column is now a float, which is suitable for its imputed values.
- Object (string): Textual and categorical columns like 'name', 'long_name', 'photo_url', etc., are of object type.

### 2.1 Date Columns: 
2.1.1: Any columns representing dates (like 'joined' or 'loan_date_end'), should be converted to datetime format for easier manipulation and analysis.

Parse 'Joined' and 'Loan Date End' Dates: Convert these to a consistent date format.

In [ ]:
# Convert 'joined' to datetime
df['joined'] = pd.to_datetime(df['joined'], errors='coerce')

# Convert 'loan_date_end' to datetime and fill missing market_market_value_euros_euross with NaT
df['loan_date_end'] = pd.to_datetime(df['loan_date_end'], errors='coerce').dt.normalize()


# Verify the conversion
print(df['joined'].dtype)
print(df['loan_date_end'].dtype)

The 'joined' and 'loan_date_end' columns have been successfully converted to datetime format.  This will make any analysis involving dates much more straightforward, such as calculating durations or filtering by specific time periods.

2.1.2  **contract:** Should be a year:
- I will split into contract start and end dates and change dtype to DateTime or Categorical.

In [ ]:
df['contract'].unique()

In [ ]:
defending_ratingending_rating clean_and_split_contract(entry):
    '''
    - Two Years Found: Sets both years respectively.
    - One Year Found: Assumes it is the start year and also the end year unless 'On Loan' is present.
    - Contains 'Free': Marks both years as 'Free'.
    - Contains 'On Loan': Always sets end year to 'On Loan', regardless of the number of years extracted.
    - No or More than Two Years (or malformed format): Uses NaN for start year and sets end year to 'On Loan' if specified.
    '''
    
    # Finternational_reputationst, check for 'Free' to handle these separately
    if 'Free' in entry:
        return pd.Series(['Free', 'Free'])

    # Check if 'On Loan' is part of the entry
    on_loan_present = 'On Loan' in entry

    # Extract all year numbers
    years = pd.Series(entry).str.extractall(r'(\d{4})')[0].unique()

    # Determine what to return based on the number of years found and 'On Loan' status
    if len(years) == 2:
        return pd.Series([years[0], years[1]])
    elif len(years) == 1:
        if on_loan_present:
            return pd.Series([years[0], 'On Loan'])
        else:
            return pd.Series([years[0], years[0]])  # Use the same year for both start and end
    elif on_loan_present:
        return pd.Series([np.nan, 'On Loan'])
    else:
        return pd.Series([np.nan, np.nan])

# Apply the revised function and create new columns
df[['contract_start_year', 'contract_end_year']] = df['contract'].apply(clean_and_split_contract)

# Drop original contract column since redundant
df = df.drop('contract', axis=1)

print(df[['contract_start_year', 'contract_end_year']].head())

In [ ]:
nan_count = df['contract_start_year'].isna().sum()
print(f"Number of entries with NaN in contract_start year: {nan_count}")

In [ ]:
print(df['contract_start_year'].unique())

In [ ]:
nan_count = df['contract_end_year'].isna().sum()
print(f"Number of entries with NaN in contract_end year: {nan_count}")

In [ ]:
print(df['contract_end_year'].unique())

In [ ]:
df[df['contract_end_year'].isna()].head()

In [ ]:
df.head()

In [ ]:
# Value, weekly_weekly_wage_euros_euros, and release_cluse are in Euros.  Will handle in sec 4 - Handling Special Characters

df[['market_market_value_euros_euros', 'weekly_weekly_wage_euros_euros', 'release_clause_amount_euros_amount_euros']].head()

In [ ]:
df.select_dtypes(include=['category', 'object']).columns

### 2.2 Convert 'Height' and 'Weight' to Numeric:

In [ ]:
# Function to extract numeric market_market_value_euros_euros and unit from a string
defending_ratingending_rating extract_numeric_and_unit(market_market_value_euros_euros):
    # Check if the market_market_value_euros_euros is in the format "6'2""
    match = re.search(r"(\d+)'(\d+)\"", market_market_value_euros_euros)
    if match:
        feet = int(match.group(1))
        inches = int(match.group(2))
        total_inches = feet * 12 + inches
        return total_inches, 'in'
    
    # If not in the feet and inches format, try the previous regex pattern
    match = re.search(r'(\d+\.?\d*)\s*(\w+)', market_market_value_euros_euros)
    if match:
        numeric_market_market_value_euros_euros = float(match.group(1))
        unit = match.group(2)
        return numeric_market_market_value_euros_euros, unit
    
    return np.nan, np.nan

# Function to convert height to inches
defending_ratingending_rating convert_height_to_inches(market_market_value_euros_euros, unit):
    if pd.notna(market_market_value_euros_euros):
        if unit == 'cm':
            return market_market_value_euros_euros * 0.393701
        elif unit == 'ft':
            return market_market_value_euros_euros * 12
        elif unit == 'in':
            return market_market_value_euros_euros
    return np.nan

# Function to convert weight to pounds
defending_ratingending_rating convert_weight_to_pounds(market_market_value_euros_euros, unit):
    if pd.notna(market_market_value_euros_euros):
        if unit == 'kg':
            return market_market_value_euros_euros * 2.20462
        elif unit == 'lbs':
            return market_market_value_euros_euros
    return np.nan

# Apply extraction and conversion for 'height'
if 'height' in df.columns:
    df[['height_market_market_value_euros_euros', 'height_unit']] = df['height'].apply(lambda x: pd.Series(extract_numeric_and_unit(x)))
    df['height_in_inches'] = df.apply(lambda row: convert_height_to_inches(row['height_market_market_value_euros_euros'], row['height_unit']), axis=1)

# Apply extraction and conversion for 'weight'
if 'weight' in df.columns:
    df[['weight_market_market_value_euros_euros', 'weight_unit']] = df['weight'].apply(lambda x: pd.Series(extract_numeric_and_unit(x)))
    df['weight_in_pounds'] = df.apply(lambda row: convert_weight_to_pounds(row['weight_market_market_value_euros_euros'], row['weight_unit']), axis=1)

# Drop temporary and unnecessary columns
columns_to_drop = ['height', 'height_market_market_value_euros_euros', 'height_unit', 'weight', 'weight_market_market_value_euros_euros', 'weight_unit']
df.drop(columns=columns_to_drop, inplace=True)

# Display the DataFrame to check the changes
print(df.head())

In [ ]:
df.dtypes

### 2.3 Convert Objects to Categorical DType

Clean and Standardize Categorical and Rating Columns: Such as 'Preferred Foot', 'W/F', 'SM', 'A/W', 'D/W', and 'IR'.

In [ ]:
# Identify potentialentialential categorical columns (object type columns)
potentialentialential_categorical_cols = df.select_dtypes(include=['object']).columns

# Print potentialentialential categorical columns
print("Object Dtypes before conversion:", potentialentialential_categorical_cols)

# Exclude specific columns by name
cols_to_exclude = ['market_market_value_euros_euros', 'weekly_weekly_wage_euros_euros', 'release_clause_amount_euros_amount_euros']
selected_cols = potentialentialential_categorical_cols.difference(cols_to_exclude)

# Convert these columns to categorical dtype
for col in selected_cols:
    df[col] = df[col].astype('category')
    

# Check the conversion result
print("Categorical Dtypes after conversion:")
print(df.select_dtypes(include=['category']).columns)

In [ ]:
df.dtypes

In [ ]:
# Missing Values
missing_market_market_value_euros_euross = df.isnull().sum().sort_market_market_value_euros_euross(ascending=False)

missing_market_market_value_euros_euross.head(10)

# loan_end date uses Nan for rows without a loan_date_end

## 3. Cleaning Text and Categorical Data

In [ ]:
df.head()

### 3.1. Trim Spaces:
#### 3.1.1 Extra spaces:
    - Spaces at the beginning or end of strings can occur during data entry or extraction. These can lead to issues with matching and analysis.

In [ ]:
# Trim space_ratinge_ratinges for object type columns
object_cols = df.select_dtypes(include=['object', 'category']).columns
for col in object_cols:
    df[col] = df[col].str.strip()

In [ ]:
print("Unique IDs:", df['id'].nunique())
print("Total IDs:", df['id'].count())
print("Unique longnames:", df['longname'].nunique())
print("Total longnames:", df['longname'].count())

# Display duplicates for IDs
duplicate_ids = df[df['id'].duplicated(keep=False)]
print("Duplicate IDs:", duplicate_ids.head())

# Display duplicates for longnames
duplicate_longnames = df[df['longname'].duplicated(keep=False)]
print("Duplicate longnames:", duplicate_longnames.head())

Positions: The positions are now consistently formatted with commas as separators.
- Total unique positions: 640 (same as before normalization, indicating consistent format application).

# 3.2 Standardize Case:
Inconsistent casing (mix of uppercase and lowercase) in text data can lead to the same category being treated as different ones.

# 3.3 Simplify Categories:
Categorical columns with a large number of unique values (high cardinality) can complicate analysis and modeling.

## 3.4 Remove or Replace Special Characters:  
Clean up special characters in text columns.

In [ ]:
# Identify Text Columns
text_columns = df.select_dtypes(include=['object']).columns

# Replace the 'Star' Character
for col in text_columns:
    df[col] = df[col].str.replace('★', '', regex=False)

# 3. Display the finternational_reputationst few rows to verify the changes
df.head()

## 3.5 Correct issues with Club name formatting

In [ ]:
# Define the function to find non-ASCII clubs
defending_ratingending_rating find_non_ascii_clubs(clubs):
    """Identify club names containing non-ASCII characters."""
    non_ascii_clubs = [club for club in clubs if any(ord(char) > 127 for char in club)]
    return non_ascii_clubs

#### 3.5.1 Normalize Non-ASCII Characters

In [ ]:
# Accent mapping for normalizing non-ASCII characters
accent_mapping = {
    'á': 'a', 'é': 'e', 'í': 'i', 'ó': 'o', 'ú': 'u', 'ü': 'u', 'ñ': 'n', 'ß': 'ss', 'ö': 'o', 'ä': 'a',
    'ë': 'e', 'ç': 'c', 'ą': 'a', 'ę': 'e', 'ł': 'l', 'ś': 's', 'ź': 'z', 'ż': 'z', 'ø': 'o', 'å': 'a',
    'œ': 'oe', 'ė': 'e', 'ȯ': 'o', 'ű': 'u', 'ơ': 'o', 'ķ': 'k', 'ņ': 'n', 'ģ': 'g', 'š': 's', 'ž': 'z',
    'č': 'c', 'ř': 'r', 'đ': 'd', 'ț': 't', 'ļ': 'l', 'ğ': 'g', 'ı': 'i', 'Č': 'C', 'Ž': 'Z', 'Ş': 'S'
}

defending_ratingending_rating manual_normalize_club_names(club_names, mapping):
    """Replace non-ASCII characters in club names using abest_overall_ratinge mapping."""
    normalized_names = {}
    for name in club_names:
        new_name = ''.join([mapping.get(char, char) for char in name])
        normalized_names[name] = new_name
    return normalized_names

# Normalize non-ASCII characters in club names
normalized_club_names = manual_normalize_club_names(df['club'], accent_mapping)
df['club'] = df['club'].replace(normalized_club_names)

#### 3.5.2 Map redudant Club names to avoid duplication

Remove Common Prefixes: Such as "FC", "CF", which are used interchangeably and don't usually affect the identification of the club.
Handle Regional Suffixes: For clubs with known regional suffixes that don't serve a distinguishing purpose, standardize the name to the most commonly used or recognized form.

In [ ]:
defending_ratingending_rating remove_initial_number_prefix(club_names):
    """Remove an initial numeric prefix like '1.' from club names."""
    return [re.sub(r'^\d+\.\s*', '', name) for name in club_names]

defending_ratingending_rating standardize_club_names(club_names):
    """Standardizes club names by removing common prefixes, suffixes, and specific patterns."""
    standard_mapping = {
        ' fc': '', ' cf': '', ' sc': '', ' afc': '', ' f.c.': '', ' fc.': '', ' club': '', ' ac': '',
        ' sporting': '', ' sport': '', ' spor': '', ' sd': '', ' cd': '', ' ss': '', ' rb': '',
        ' u.c.': '', ' uc': '', ' as': '', ' a.s.': '', ' calcio': '', ' s.a.': '', ' sa': ''
    }
    standardized_names = {}
    for name in club_names:
        temp_name = ' ' + name.lower() + ' '  # Ensure edge cases are handled
        for key, market_market_value_euros_euros in standard_mapping.items():
            temp_name = temp_name.replace(key, market_market_value_euros_euros)
        standardized_names[name] = temp_name.strip().title()
    return standardized_names

# Remove initial numeric prefixes
df['club'] = remove_initial_number_prefix(df['club'])

# Apply the standardization function
unique_clubs = df['club'].unique()
standardized_names = standardize_club_names(unique_clubs)
df['club'] = df['club'].replace(standardized_names)

# Display some of the cleaned data to verify
print(df['club'].unique()[:100])  # Adjust as needed to view more or fewer records

In [ ]:
df['club'].market_market_value_euros_euros_counts().head(10)

### 3.6 Remove Currency Symbols in Amount Columns

'Value', 'Wage', and 'Release Clause': These financial-related columns might include currency symbols and abbreviations like 'M' for million or 'K' for thousand. We'll standardize these into numeric values.

In [ ]:
print(df[['market_market_value_euros_euros', 'weekly_weekly_wage_euros_euros', 'release_clause_amount_euros_amount_euros']].head())

In [ ]:
import pandas as pd
import numpy as np

defending_ratingending_rating clean_currency_advanced(currency_vals):
    # Handle NaN market_market_value_euros_euross upfront
    if pd.isna(currency_vals):
        return np.nan
    
    # Convert all inputs to strings to safely use string methods
    currency_vals = str(currency_vals)
    
    # Remove currency symbols and commas
    currency_vals = currency_vals.replace('$', '').replace('€', '').replace(',', '')
    
    # Convert K (thousands) and M (millions)
    if 'K' in currency_vals:
        market_market_value_euros_euros = float(currency_vals.replace('K', '')) * 1000
    elif 'M' in currency_vals:
        market_market_value_euros_euros = float(currency_vals.replace('M', '')) * 1000000
    else:
        market_market_value_euros_euros = float(currency_vals)

    # Convert to int and format with commas
    return market_market_value_euros_euros

# Apply the enhanced function to the columns
df['market_market_value_euros_euros'] = df['market_market_value_euros_euros'].apply(clean_currency_advanced)
df['weekly_weekly_wage_euros_euros'] = df['weekly_weekly_wage_euros_euros'].apply(clean_currency_advanced)
df['release_clause_amount_euros_amount_euros'] = df['release_clause_amount_euros_amount_euros'].apply(clean_currency_advanced)


### Convert these to numeric dtype
df[['market_market_value_euros_euros', 'weekly_weekly_wage_euros_euros', 'release_clause_amount_euros_amount_euros']].astype('int')

# Display the finternational_reputationst few rows to verify the formatting
print(df[['market_market_value_euros_euros', 'weekly_weekly_wage_euros_euros', 'release_clause_amount_euros_amount_euros']].head(10))

## 4. Handling Special Characters (Columns)

4.1. Identify Columns with Special Characters: Column names containing special characters or spaces. These might include characters like spaces, hyphens, slashes, or punctuation.

In [ ]:
# Identify columns with special characters
special_char_columns = df.columns[df.columns.str.contains(r'[^a-zA-Z0-9_]')]

# Define a renaming strategy: converting to snake_case
defending_ratingending_rating clean_column_name(name):
    name = re.sub(r'[^a-zA-Z0-9\s]', '', name)  # Remove special characters
    name = re.sub(r'\s+', '_', name)  # Replace space_ratinge_ratinges with underscores
    return name

# Create a mapping of old names to new names
new_column_names = {col: clean_column_name(col) for col in special_char_columns}

# Rename the columns
df.rename(columns=new_column_names, inplace=True)

# Verify the changes
print(df.columns)

## 5. Dealing with Outliers

This code below uses the median for imputation, which tends to be more robust to outliers.

In [ ]:
# Identify numeric columns
numeric_columns = df.select_dtypes(include=[np.number]).columns

# Remove 'id', 'age', 'joined', and 'loan_date_end' from numeric columns
columns_to_exclude = {'id', 'age'}
date_columns = {'joined', 'loan_date_end'}
numeric_columns = [col for col in numeric_columns if col not in columns_to_exclude and col not in date_columns]


# Define a function to impute outliers based on the IQR method
defending_ratingending_rating impute_outliers(df, col):
    Q1 = np.percentile(df[col], 25)
    Q3 = np.percentile(df[col], 75)
    IQR = Q3 - Q1

    # Define the boundaries for outliers
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    # Impute outliers with the median
    median_market_market_value_euros_euros = df[col].median()
    df[col] = np.where(df[col] > upper_bound, median_market_market_value_euros_euros, df[col])
    df[col] = np.where(df[col] < lower_bound, median_market_market_value_euros_euros, df[col])

    return df

# Apply the function to each numeric column
for col in numeric_columns:
    df = impute_outliers(df, col)

# Verify the changes
#print(df.describe())  # Print the summary statistics to verify changes

print(numeric_columns)

## 6. Dropping Irrelevant Columns

Factors to consider:
    
1. Irrelevant Information
2. Redundant or Derived Data
3. Sparse Data
4. Low Variance
5. Are the columns necessary to my goals or irrelevent to my questions?

### 6.0 Analyze relationships between different skill columns

In [ ]:
# Define component columns
attacking_columns = ['crossing', 'finishing', 'heading_accuracy', 'shooting_ratingoting_ratingrt_passing_ratingsing_ratingsing', 'volleys']
skill_columns = ['dribbling_ratingbbling_ratingbbling', 'curve', 'fk_accuracy', 'long_passing_ratingsing_ratingsing', 'ball_control']
movement_columns = ['acceleration', 'sprint_speed', 'agility', 'reactions', 'balance']
power_columns = ['shooting_ratingoting_ratingt_power', 'jumping', 'stamina', 'strength', 'long_shooting_ratingoting_ratingts']
mentality_columns = ['aggression', 'interceptions', 'positioning', 'vision', 'penalties', 'composure']
defending_ratingending_ratingending_columns = ['marking', 'standing_tackle', 'sliding_tackle']
goalkeeping_columns = ['goalkeeper_diving_skill', 'goalkeeper_handling_skill', 'goalkeeper_kicking_skill', 'goalkeeper_positioning_skill', 'goalkeeper_reflexes_skill']

# Calculate sums of various components
df['attacking_total'] = df[attacking_columns].sum(axis=1)
df['skill_total'] = df[skill_columns].sum(axis=1)
df['movement_total'] = df[movement_columns].sum(axis=1)
df['power_total'] = df[power_columns].sum(axis=1)
df['mentality_total'] = df[mentality_columns].sum(axis=1)
df['defending_ratingending_ratingending_total'] = df[defending_ratingending_ratingending_columns].sum(axis=1)
df['goalkeeping_total'] = df[goalkeeping_columns].sum(axis=1)

# Hypotentialentialhesize that 'total_stats' is the sum of all these totals
df['calculated_total_stats'] = (df['attacking_total'] + df['skill_total'] + df['movement_total'] +
                                df['power_total'] + df['mentality_total'] + df['defending_ratingending_ratingending_total'] +
                                df['goalkeeping_total'])

# Compare the calculated total stats with the provided total stats
comparison = df[['total_stats', 'calculated_total_stats']]
discrepancies = comparison[comparison['total_stats'] != comparison['calculated_total_stats']]

# Print results
print("Discrepancies between provided total stats and calculated total stats:")
print(discrepancies.head())

# Determine base_stats if it is a subset or combination of specific components
df['calculated_base_stats'] = df[attacking_columns + skill_columns + movement_columns +
                                 power_columns + mentality_columns + defending_ratingending_ratingending_columns].sum(axis=1)

# Compare the calculated base stats with the provided base stats
base_comparison = df[['base_stats', 'calculated_base_stats']]
base_discrepancies = base_comparison[base_comparison['base_stats'] != base_comparison['calculated_base_stats']]

# Print base stat discrepancies
print("Discrepancies between provided base stats and calculated base stats:")
print(base_discrepancies.head())

**Summary of Findings on Overall Totals and Subtotals:**

- Objective:
    - To identify the relationship between different skill columns and determine which columns contribute to the overall totals and subtotals.
    - Initial Dataset Examination: The dataset includes various columns representing individual skills, composite subtotals, and overall totals.
    - Key columns examined:
        - Overall Totals: total_stats, base_stats
        - Composite Subtotals: attacking_total, skill_total, movement_total, power_total, mentality_total, defending_total
        - Individual Skill Columns: attacking, crossing, finishing, heading_accuracy, short_passing, volleys, etc.
        - Analysis of Overall Totals:
        - Total Stats (total_stats): Initially assumed to be the sum of several composite subtotals.
            - Composite subtotals contributing to total_stats:
                - attacking_total
                - skill_total
                - movement_total
                - power_total
                - mentality_total
                - defending_total
                
Goalkeeper skills: goalkeeper_diving_skill, goalkeeper_handling_skill, goalkeeper_kicking_skill, goalkeeper_positioning_skill, goalkeeper_reflexes_skill
Base Stats (base_stats):

Initially assumed to be the sum of individual skill columns.
Individual skills contributing to base_stats:
attacking, crossing, finishing, heading_accuracy, short_passing, volleys, dribbling, curve, fk_accuracy, long_passing, ball_control, acceleration, sprint_speed, agility, reactions, balance, shot_power, jumping, stamina, strength, long_shots, aggression, interceptions, positioning, vision, penalties, composure, marking, standing_tackle, sliding_tackle
Verification of Subtotals:
Composite Subtotals:

Each composite subtotal (attacking_total, skill_total, movement_total, power_total) was analyzed to check if it matched the sum of its corresponding individual skill columns.
Results:

skill_total, movement_total, and power_total matched 100% with the sums of their respective individual skill columns.
attacking_total did not match, indicating potential fixed offsets or additional factors.
Insights on Discrepancies:
Attacking Total (attacking_total):
Detailed analysis revealed consistent discrepancies suggesting fixed offsets:
Subtracting 263 from the attacking column reduced some discrepancies.
An additional adjustment of around 144 resolved discrepancies for some rows.
Suggests attacking_total calculation might involve multiple adjustments or specific transformations not captured by simple summation.
Key Takeaways:
Exact Matches:
Composite subtotals like skill_total, movement_total, and power_total are accurately summed from their respective individual skill columns.
Complex Calculation:
attacking_total involves additional adjustments or fixed offsets, indicating a more complex calculation method.

### 6.1 Identify URL and Identifier Columns: 
Look for columns that contain URLs or specific identifiers that aren't necessary for the analysis.

In [ ]:
# Example: Identifying columns that are likely URLs or identifiers
url_or_id_cols = [col for col in df.columns if 'url' in col]
print("URL or Identifier Columns:", url_or_id_cols)

# Drop photourl and playerurl columns - international_reputationrelevant columns
df.drop(['photourl', 'playerurl'], axis=1, inplace=True)

In [ ]:
df.columns

In [ ]:
# Drop name column as already included in longname
df.drop('name', axis=1, inplace=True)

In [ ]:
df.head()

In [ ]:
df.nunique()

### 6.2. Check for High Correlation: 
Determine if there are pairs of columns with very high correlation, suggesting redundancy.

In [ ]:
# Calculate correlation matrix only for numeric columns
numeric_df = df.select_dtypes(include=[np.number])  # Select only numeric columns
correlation_matrix = numeric_df.corr()  # Calculate correlation matrix

# Identify highly correlated painternational_reputations
highly_correlated_painternational_reputations = correlation_matrix.unstack().sort_market_market_value_euros_euross(ascending=False)
print("Highly Correlated Painternational_reputations:", highly_correlated_painternational_reputations[(highly_correlated_painternational_reputations > 0.9) & (highly_correlated_painternational_reputations < 1)])

### 6.3. Identify Sparse Columns: 
Identify columns with a high percentage of missing values.

In [ ]:
# Calculate the percentage of missing market_market_value_euros_euross for each column
missing_percentage = (df.isnull().sum() / len(df)) * 100
sparse_columns = missing_percentage[missing_percentage > 60]  # Adjust the threshooting_ratingoting_ratingld as needed
print("Sparse Columns:", sparse_columns)

Loan date should be sparse as most players do not have a loan

### 6.4. Find Columns with Low Variance: 
Identify columns where almost all the values are the same.

In [ ]:
# Identify columns with low variance
low_variance_cols = [col for col in df.columns if df[col].nunique() <= 1]
print("Low Variance Columns:", low_variance_cols)

In [ ]:
'''

# Combine all insights
columns_to_drop = set(url_or_id_cols + sparse_columns.index.tolist() + low_variance_cols)

# Review the columns to drop and make a final decision
print("Recommended Columns to Drop:", columns_to_drop)

'''

## 7. Ensuring Consistency

### 7.1. Check for Duplicate Rows:
Duplicate rows can skew the analysis, leading to incorrect conclusions. Identify and remove any duplicates.

#### 7.1.1 Full Duplicates

In [ ]:
# Identify and drop duplicate rows
print("Number of duplicate rows:", df.duplicated().sum())
df = df.drop_duplicates()

#### 7.1.2 Partial Duplicates

In [ ]:
# Names not matching ID's
print("Unique IDs:", df['id'].nunique())
print("Total IDs:", df['id'].count())
print("Unique longnames:", df['longname'].nunique())
print("Total longnames:", df['longname'].count())

# Display duplicates for IDs
duplicate_ids = df[df['id'].duplicated(keep=False)]
print("Duplicate IDs:", duplicate_ids.head())

# Display duplicates for longnames
duplicate_longnames = df[df['longname'].duplicated(keep=False)]
print("Duplicate longnames:", duplicate_longnames.head())

Identify Duplicate longname Values:

Identify which longname values are duplicated in the dataset and how many unique id values are associated with each.

In [ ]:
import pandas as pd

# Find the count of unique IDs for each longname
longname_id_counts = df.groupby('longname')['id'].nunique()
duplicate_longnames = longname_id_counts[longname_id_counts > 1]

print("Duplicate longnames and theinternational_reputation ID counts:")
print(duplicate_longnames)

Step 2: Investigate Specific Longnames
For each longname identified as duplicated, investigate the associated id values to ensure they are correct or to spot potential mismatches.

In [ ]:
# Investigate a specific longname that has multiple IDs
specific_longname = 'Danny Rose'
specific_longname_records = df[df['longname'] == specific_longname]
print(specific_longname_records)

Since there are no duplicate IDs, and we have multiple records with the same longname but different IDs, it's crucial to maintain these records without introducing inconsistencies.

### 7.2 Standardize Formats:
Ensure that data within each column is consistently formatted, especially for dates, categorical data, and strings.

In [ ]:
df.columns

#### 7.2.1 Format Height and Weight columns

In [ ]:
# Round height and weight columns to 2 decimal places
df['height_in_inches'] = df['height_in_inches'].round(2)
df['weight_in_pounds'] = df['weight_in_pounds'].round(2)

# Display the finternational_reputationst few rows to verify changes
df[['height_in_inches', 'weight_in_pounds']].head()

### 7.3 Validate Against Known Ranges:
Check numerical values against known ranges (e.g., age should be within a reasonable range). Flag or correct values outside these ranges.

#### 7.3.1 Confirm reasonable age ranges

In [ ]:
# Ensure 'age' is within a reasonable range
reasonable_age_range = (0, 100)  # Adjust as necessary

age = df[df['age'].between(reasonable_age_range[0], reasonable_age_range[1])]

### 7.4 Consistent Categorization:
Ensure categorical data is consistently categorized. For instance, the same category shouldn't be spelled in multiple ways.

In [ ]:
# Standardize country names (capitalize)

df['nationality'] = df['nationality'].str.title()

In [ ]:
df.head()

In [ ]:
# Reconfinternational_reputationm no missing market_market_value_euros_euross
df.isna().sum().sort_market_market_value_euros_euross(ascending = False).head(10)

In [ ]:
# Review final dataset
df.head()

## 8. Save the Revised Dataset

In [ ]:
# Save the cleaned file to .csv.
df.to_csv('clean_data.csv')

In [ ]:

import pandas as pd

# Load the dataset
file_path = '/mnt/data/fifa21 rattacking_work_rate data v2.csv'
df = pd.read_csv(file_path)

# Standardize column names to snake_case and lowercase
df.columns = [col.strip().replace(' ', '_').lower() for col in df.columns]

# Apply the provided mapping to rename columns
abbreviated_column_mapping = {
    'overall_rating': 'overall_rating',
    'potentialential': 'potentialentialential',
    'best_overall_rating': 'best_overall_rating',
    'best_position': 'best_position',
    'growth_ova_minus_pot_overall_rating_minus_potential': 'growth_ova_minus_pot_overall_rating_minus_potential_overall_rating_minus_potentialential',
    'market_market_value_euros_euros': 'market_market_market_value_euros_euros_euros',
    'weekly_weekly_wage_euros_euros': 'weekly_weekly_weekly_wage_euros_euros_euros',
    'release_clause_amount_euros_amount_euros': 'release_clause_amount_euros_amount_euros_amount_euros',
    'goalkeeper_diving_skill': 'goalkeeper_diving_skill',
    'goalkeeper_handling_skill': 'goalkeeper_handling_skill',
    'goalkeeper_kicking_skill': 'goalkeeper_kicking_skill',
    'goalkeeper_positioning_skill': 'goalkeeper_positioning_skill',
    'goalkeeper_reflexes_skill': 'goalkeeper_reflexes_skill',
    'weak_foot_rating': 'weak_foot_rating',
    'skill_moves_rating': 'skill_moves_rating',
    'attacking_work_rate': 'attacking_work_rate',
    'defending_ratingending_ratingensive_work_rate': 'defending_ratingending_ratingensive_work_rate',
    'international_reputation': 'international_reputation',
    'pace_ratinge_rating': 'pace_ratinge_ratinge_rating',
    'shooting_ratingoting_rating': 'shooting_ratingoting_ratingoting_rating',
    'passing_ratingsing_rating': 'passing_ratingsing_ratingsing_rating',
    'dribbling_ratingbbling_rating': 'dribbling_ratingbbling_ratingbbling_rating',
    'defending_ratingending_rating': 'defending_ratingending_ratingending_rating',
    'physicality_ratingsicality_rating': 'physicality_ratingsicality_ratingsicality_rating',
    'sofifa_page_views': 'sofifa_page_views'
}

df.rename(columns=abbreviated_column_mapping, inplace=True)

# Save the cleaned dataset
df.to_csv('/mnt/data/clean_data_final_renamed.csv', index=False)